<footer class="bg-dark text-white text-center py-3 mt-auto">
	<a href="{{ path('site_contact') }}" class="text-white me-3">Contact</a> |
	<a href="{{ path('app_mentions_legales') }}" class="text-white me-3">Mentions légales</a> |
    <a href="{{ path('app_politique_confidentialite') }}" class="text-white me-3">Politique de confidentialité</a> |
    <a href="{{ path('app_conditions_generales') }}" class="text-white me-3">CGV</a><br>
	©
	{{ "now"|date("Y") }}
	JC Habitat. Tous droits réservés. Entreprise individuelle au capital de 0 euros
NAF 8121Z
N° Siret: 53363513200020
</footer>