<ul class="nav bg-dark border-bottom border-body" data-bs-theme="dark">
    <li class="nav-item text-light">
		<img src="{{asset('images/Logo-JCHabitat.JPG')}}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top"  data-bs-toggle="modal" data-bs-target="#imageModal">

		<!-- Modal Bootstrap -->
		<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content bg-transparent border-0">
					<img src="{{ asset('images/Logo-JCHabitat.JPG') }}" class="img-fluid rounded" alt="JC Habitat">
				</div>
			</div>
		</div>
	</li>
	
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
	</li>

	{# Pour les prestations, retirer le style afin que le bouton apparaisse dans le menu #}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_presta')}}" style="display:none;">Mes prestations</a>
	</li>
	
	<li class="nav-item">
		<a class="nav-link" href="{{ path('site_contact') }}">Contact</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_demande_devis') }}">Demande de devis</a>
	</li>
</ul>
